@media screen and (max-width: 750px) {
    tbody{ float: left; }
    thead { min-width: 200px }
    td,th { display: block }
}
.breadcrumbs_area {
    background: url('../../../assets/banner18_wmw1rs.webp') no-repeat 0 0;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
}
.breadcrumb_content {
    text-align: center;
}
.breadcrumb_content h3 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 9px;
}
.container_cart{
    max-width: 100%;
    width: 100%;
}
.add-remove button{
    background-color: #40A944;
    color: #ededed;
}
.cart_collection li{
    list-style: none;
}
.total_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
}
.cart_collection{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.cart_checkout{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.cart_checkout button{
    background-color: #40A944;
    color: #ededed;
}

.table_desc .cart_page table tbody tr td.product_quantity {
    min-width: 180px;
}
@media only screen and (max-width: 767px){
.table-responsive table thead {
    display: none;
}}

.product_remove li{
    list-style: none;
    cursor: pointer;
}
.table_desc .cart_page table tbody tr td.product_remove li:hover {
    color: #40A944;
}
.table_desc {
    border: 1px solid #ededed;
    margin-bottom: 70px;
    margin-top: 2px;
}
.table_desc .cart_page table {
    width: 100%;
}
.table-responsive table thead {
    background: #ededed;
}
.cart_page table thead tr:last-child th, .table_desc table tbody tr td:last-child {
    border-right: 0;
}
.table_desc .cart_page table thead tr th {
    border-bottom: 3px solid #40A944;
    border-right: 1px solid #ededed;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px;
    text-align: center;
}
.table_desc .cart_page table tbody tr td.product_remove {
    min-width: 100px;
}
.table_desc .cart_page table tbody tr td {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    text-align: center;
    padding: 10px;
}
.product_thumb {
    position: relative;
    overflow: hidden;
}
.table_desc .cart_page table tbody tr td.product_thumb {
    max-width: 240px;
}
.table_desc .cart_page table tbody tr td.product_thumb img {
    width: 200px;
}
.table_desc .cart_page table tbody tr td.product_name h4 {
    color: #222222;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
}
.table_desc .cart_page table tbody tr td.product_name {
    min-width: 180px;
}
.table_desc .cart_page table tbody tr td.product-price {
    min-width: 130px;
    color: #222222;
    font-size: 16px;
    font-weight: 500;
}
.table_desc .cart_page table tbody tr td.product_quantity {
    min-width: 200px;
}

