/* body {font-family: Arial, Helvetica, sans-serif;} */

/* Full-width input fields */
.login-wrap input[type="text"],
.login-wrap input[type="password"] {
  width: 100%;
  padding: 8px 15px;
  margin: auto;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  font-family: Fondamento;
  border-radius: 25px;
}

.headerForm {
  margin: 20px;
}
.social {
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  /* padding-left: 10px; */
}
.social {
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.FB_login {
  display: flex;
  width: auto;
  height: auto;
}
.FB_login button {
  width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 10px;
}
.GG_login {
  display: flex;
  width: max-content;
  height: auto;
}
.GG_login button {
  width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

button:hover {
  opacity: 0.8;
}

.headerForm h2 {
  font-family: Fondamento;
  display: inline;
}

.logo {
  width: 30%;
}

.forget {
  font-family: Fondamento;
  text-align: center;
  margin-bottom: 5px;
}

.forget a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px !important;
  outline: none !important;
}

.modal-content {
  position: absolute;
  width: 227px;
  height: fit-content;
  right: 100px;
  top: 40px;
  background: #d9f8e9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  z-index: 100;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.form-container {
  padding: 8px;
  padding-top: 0px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    position: absolute;
    top: 100;
    right: 0;
  }
}
