.header {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
      97.1deg,
      #f9fcfb 85.39%,
      rgba(255, 255, 255, 0) 121.98%
    ),
    #b0eacd;
  /* justify-content: space-around; */
  /* max-width: 100%;
max-height: 100%; */
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
}

.usr-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usr-name p {
  margin-bottom: 0px;
}

.iconImg {
  display: flex;
  width: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
  /* max-width: 100%;
    margin-left:35px; */
}
.iconImg img {
  max-width: 100%;
  width: 60%;
  height: auto;
}

.btnLocation {
  display: flex;
  flex-direction: row;
  /* flex:1; */
  justify-content: flex-end;
  align-items: center;
  /* align-content: space-around; */
  /* position: relative; */
  width: 60%;
  /* margin-right: 60px; */
}
#btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 50%;
    margin: 20px; */
}

#btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 50%;
    margin: 20px; */
}
