.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  /* background: #b0eacd; */
  background-image: linear-gradient( 90.9deg,  rgba(255,187,187,1) -8.8%, rgba(255,220,177,1) 12.4%, rgba(255,249,177,1) 35.6%, rgba(220,255,177,1) 59.6%, rgba(177,218,255,1) 84%, rgba(222,177,255,1) 107.9% );
  height: 47px;
  max-width: 100%;
  max-height: fit-content;
  width: 100%;
  z-index: 1;
}

.navbar-nav {
  display: flex;
  width: 100%;
  /* background-image: linear-gradient( 90.9deg,  rgba(255,187,187,1) -8.8%, rgba(255,220,177,1) 12.4%, rgba(255,249,177,1) 35.6%, rgba(220,255,177,1) 59.6%, rgba(177,218,255,1) 84%, rgba(222,177,255,1) 107.9% ); */
  z-index: 1;
  position: absolute;
}

.navbar-collapse {
  /* flex-flow: column nowrap; */
  margin-left: 0px;
  width: 50%;
}

#searchInput {
  width: 100%;
  height: 16px;
  background: #ffffff;
  border-radius: 20px;
  border: none;
  /* max-width: inherit; */
  display: flex;
}

#searchBar {
  display: flex;
  /* flex: 5; */
  justify-content: flex-end;
  margin-right: 30px;
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  z-index: 1;
}
#searchBar input {
  padding: 10px;
}
.nav-bar {
  padding: 0px;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  /* flex: 5; */
  width: 60%;
  justify-content: space-around;
}

.navbar-collapse a {
  text-decoration: none;
  padding: 13px;
}

.nav-bar li a {
  /* font-family: Fondamento; */
  font-style: normal;
  font-size: 15px;
  line-height: 21px;
  color: #000;
  font-weight: normal;
}


.nav-bar li a:hover {
  background-image: radial-gradient( circle 862px at 6% 18%,  rgba(21,219,149,1) 9.4%, rgba(26,35,160,1) 83.6% );
  color: #fff;
  border-radius: 10px;
}

.nav-bar .img-container {
  width: fit-content;
  /* margin-right: 20px; */
  display: flex;
  z-index: 1;
}
/*old master css*/
/* .nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #B0EACD;
    height: 47px;
    max-width: auto;
    max-height: fit-content;
    width: auto;
    justify-content: space-between;
    margin-bottom: 10px;
    
}
.nav-bar li{
    display: inline;
}
.nav-bar li a{
    display: block;
}
#searchInput{
    width: 229px;
    height: 16px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    display: flex;
    padding: 10px;
    margin-right: 0px ;
}

#searchBar{
    display: flex;
    flex:5;
    justify-content: flex-end;
    margin-right: 30px;
    width: fit-content;
    max-width: 100%;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    flex:5;
    justify-content: space-around;
}

.nav-bar a{
    text-decoration: none;
    padding: 13px;
}

.nav-bar li{
    font-family: Fondamento;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #000;
}
*/
/*  */

/* Tablet and Mobile */
@media only screen and (max-width: 991px) {
  .nav-bar {
    position: relative;
    display: flex;
  }
  .navbar-nav{
    background: snow;
  }
  .nav-bar .active li {
    /* class active dùng trong react-router*/
    color: #000;
  }
  .nav-item {
    display: contents;
    padding: 13px;
  }
  .navbar-collapse {
    /* display: flex; */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    /* width: 100%; */
  }
  #searchBar {
    margin-right: 0;
  }
  .nav-bar ul {
    width: 100%;
  }
}
.navbar-toggler {
  margin: 0px;
  width: 10%;
}
