.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background: #b0eacd;
  height: 47px;
  max-width: 100%;
  max-height: fit-content;
  width: 100%;
  z-index: 1;
}

.navbar-nav {
  display: flex;
  width: 100%;
  background-color: #b0eacd;
  z-index: 1;
  position: absolute;
}

.navbar-collapse {
  /* flex-flow: column nowrap; */
  margin-left: 0px;
  width: 50%;
}


#searchInput {
  width: 100%;
  height: 16px;
  background: #ffffff;
  border-radius: 20px;
  border: none;
  /* max-width: inherit; */
  display: flex;
}

#searchBar {
  display: flex;
  /* flex: 5; */
  justify-content: flex-end;
  margin-right: 30px;
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  z-index: 1;
}
#searchBar input {
  padding: 10px;
}
.nav-bar{
  padding: 0px; 
}
.nav-bar ul {
  display: flex;
  list-style: none;
  /* flex: 5; */
  width: 60%;
  justify-content: space-around;
}

.navbar-collapse a {
  text-decoration: none;
  padding: 13px;
}

.nav-bar li a{
  /* font-family: Fondamento; */
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #000; 
}

.nav-bar li a:hover{
  background-color: #00DD75;
  color: #fff; 
  border-radius: 10px;
}

.nav-bar .active li {
  /* class active dùng trong react-router*/
  color: #fff; 
}
.nav-bar .img-container {
  width: fit-content;
  /* margin-right: 20px; */
  display: flex;  
  z-index: 1;
}
/*old master css*/
/* .nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #B0EACD;
    height: 47px;
    max-width: auto;
    max-height: fit-content;
    width: auto;
    justify-content: space-between;
    margin-bottom: 10px;
    
}
.nav-bar li{
    display: inline;
}
.nav-bar li a{
    display: block;
}
#searchInput{
    width: 229px;
    height: 16px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    display: flex;
    padding: 10px;
    margin-right: 0px ;
}

#searchBar{
    display: flex;
    flex:5;
    justify-content: flex-end;
    margin-right: 30px;
    width: fit-content;
    max-width: 100%;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    flex:5;
    justify-content: space-around;
}

.nav-bar a{
    text-decoration: none;
    padding: 13px;
}

.nav-bar li{
    font-family: Fondamento;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #000;
}
*/
.nav-bar .active li {
  /* class active dùng trong react-router*/
  color: #fff;
}


/* Tablet and Mobile */
@media only screen and (max-width: 991px) {
  .nav-bar {
    position: relative;
    display: flex;
  }
  .nav-item{
    padding: 13px;
  }
  .navbar-collapse {
    /* display: flex; */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    
    /* width: 100%; */
  }
  #searchBar {
    margin-right: 0;
  }
  .nav-bar ul{
    width: 100%;
  }
}
.navbar-toggler{
  margin: 0px;
  width: 10%;
}
