.Product-list{
    display: flex;
    list-style: none;
    flex-direction: column;
    width: auto;
    /* max-width: 100%; */
    height: auto;
    max-height: max-content;
    /* margin-right: 30px; */
    background-color: #B0EACD;  
    margin-bottom: 0px;  
}
/* .Product-list li{
    border-bottom: 2px solid black;
} */
.Product-list ul{
    display: flex;
    flex-direction: column;
    margin-bottom:0px;
}
/* .Fruit{
    display: flex;
    flex-direction: column;
}
.Fruit p{
    border-bottom: 2px solid black;
}
.Fruit li{
    display: flex;
   
} */