.hotList{
    display: flex;
    /* width: 100%; */
    margin: 30px;
}
.BrainhubCarouselItem li{
    margin: 10px;
}
/* .hotList ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* .hotList ul li{
    width: 100%;
} */
