.pagination li{
    list-style: none;
    /* padding: 20px; */
}
.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    margin-left: 3px;
    cursor: pointer;
}
.pagination{
    /* display: flex;
    flex-direction: row; */
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.pagination a{
    text-decoration: none;
    
}

/* .pagination a.active{
    background-color: #4CAF50;
    color: white;
} */
/* .pagination a:hover:not(.active) {background-color: #ddd;} */
.Pactive {
    background: #40A944;
    color: #ffffff;
}