.breadcrumbs_area {
    background: url('../../../assets/banner18_wmw1rs.webp') no-repeat 0 0;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
}
.breadcrumb_content h3 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 9px;
}
.breadcrumb_content {
    text-align: center;
}