.error_section {
    padding: 55px 0 70px;
}
.error_form {
    text-align: center;
}
.error_form h1 {
    font-size: 200px;
    font-weight: 700;
    color: #40A944;
    letter-spacing: 10px;
    line-height: 160px;
    margin: 0 0 52px;
}