.Policy {
    display: flex;
    justify-content: center;
}

.policyInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.policyInfo h1{
    margin: 10px 10px 10px 0;
}


pre{
    word-wrap:break-word;
}


#shippingPrice table, th, td {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
  }

#shippingPrice thead {
    font-weight: bold;
}