@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

body{
    /* margin:0;
    padding:0; */
    width: auto;
    font-family: Roboto;
    /* display: flex;
    flex-wrap: wrap; */

}
a{
    text-decoration: none;
}
