.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    text-align: left;    
    /* margin-left: 30px;*/
    height: fit-content;
}
.productImg{
    width: 200px;
    height: 200px;    
}
.productName{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* line-height: 16px;    
    max-height: 32px;      */
    -webkit-line-clamp: 1; /* Write the number of 
                              lines you want to be 
                              displayed */
    /* -webkit-box-orient: vertical; */
}
.cartIcon{
    display: flex;  
    justify-content: center;
    margin-top: 20px;
}